@charset "utf-8";
.content{height: 1500px;margin-left:74px}
.content .content_l{width:900px}
.content .content_l .navtitle{width:900px;height:30px;border: 1px solid #ececec;background:#fff;margin-top:10px}
.content .content_l .navtitle b{height:30px;line-height: 30px;padding-left:10px;font-size:15px}
.content .content_l .navtitle a{font-size:15px;padding-left:0px}
.content .content_l .conttent_l_product{width:900px;margin-top:10px;border: 1px solid #ececec;background:#fff;}
.content .content_l .conttent_l_product .conttent_l_product_title li{width:100%;height:30px;border-bottom: 1px dashed #cccccc;line-height: 30px}
.content .content_l .conttent_l_product .conttent_l_product_title li span{padding-left:10px;font-size:15px;font-weight: bold;color:#996600;}
.content .content_l .conttent_l_product .conttent_l_product_title li a{font-size:15px;margin-left:8px}
.content .content_l .conttent_l_product .conttent_l_product_title li  .acitvt{background:#99CCCC;}
.content .content_l .conttent_l_product .conttent_l_product_list li{height: 305px;width: 219px;border: 1px solid #fff;padding-top: 4px;float:left;padding-bottom: 20px; margin-top:10px}
.content .content_l .conttent_l_product .conttent_l_product_list li a{display: block}
.content .content_l .conttent_l_product .conttent_l_product_list li  a img{height: 200px; margin: 0 auto; width: 200px;margin-left:14px}
.content .content_l .conttent_l_product .conttent_l_product_list li .title{display: block; text-align: center;padding-top:7px}
.content .content_l .conttent_l_product .conttent_l_product_list li span{display: block; text-align: center;padding-top:8px}
.content .content_l .conttent_l_product .conttent_l_product_list .price{color: #d50304;font-size: 16px; padding-right: 10px;font-style:normal;}
.content .content_l .conttent_l_product .conttent_l_product_list .delprice{color:#999}
.content .content_l .conttent_l_product .conttent_l_product_list li:hover{border:1px solid red;}
.content .content_l .conttent_l_product .conttent_l_product_list li .lan{margin-top:10px;}
.content .content_l .conttent_l_product .conttent_l_product_list li .lan .a1{float:left;background: rgba(0, 0, 0, 0) url("../images/img/j.png") no-repeat scroll 2px;border:  1px solid #ddd; width:86px;text-indent:25px;margin: 0 2px;height:25px;line-height: 25px;margin-left:20px}
.content .content_l .conttent_l_product .conttent_l_product_list li .lan .a2{float:left;background: rgba(0, 0, 0, 0) url("../images/img/g.png") no-repeat scroll 2px;border: 1px solid #ddd; width:86px;line-height: 25px;text-indent: 25px;padding-right: 5px}
.content_r{width:280px;border: 1px solid #ececec;margin-left:18px;margin-top:10px;}
.content_r .announcementd{padding:0px;width:100%}
.content_r .announcementd .title{display: block;background:#eee;text-align: center;height: 30px;line-height: 30px}
.content_r .announcementd  .alist li { display: block;padding-left:15px;height: 30px;line-height: 30px;border-bottom:1px dotted #ddd;}