body,div,address,blockquote,iframe,ul,ol,dl,dt,dd,li,h1,h2,h3,h4,h5,h6,p,pre,table,caption,th,td,form,legend,fieldset,input,button,select,textarea{margin:0;padding:0;font-weight:normal;}
ol,ul,li{list-style:none;}
img{margin:0;padding:0;border:none}
table{border-collapse:collapse;}
.cls{clear:both;}
.notxt{text-indent:-9999px;}
body{ font-size:12px;font-family:"Microsoft YaHei", tahoma, sans-serif;}
a{ color:#000;text-decoration:none; utline:none;blr:expression(this.onFocus=this.blur());}
a:hover{color:#8fc31f;}
.cls{clear: both;}
/*******导航条******/
i { font-style:normal;}
.main_home{width: 100%;height: 100%;}
.nav_line{height: 1px; width:100%;position: absolute;top:60px; background:#adadad}
.nav_logo{width:8%; left: 11%; position: absolute; top:20px}
.nav_logo_img{width:100%}
.nav{padding-top:10px; width:auto; margin:0 auto;position: absolute; z-index: 200;top:0; height:60px; right:calc(9% + 145px);}
.nav ul li{float:left; color:#717171 !important;font-size:16px; heigth:40px; line-height: 40px;padding:0px 28px; font-weight: 500}
.curBg{background:#8fc31f none repeat scroll 0 0; height:3px; width:86px;position: absolute; bottom: 10px}
.more{color: #8fc31f !important;height: 60px;left: 100%;line-height: 60px;padding-left: 25px; position: absolute;text-align: left;top: 0;width: 90px;}
.more a{background-color: #8fc31f;border-radius: 12px;color: #ffffff !important;font-size: 14px;height: 28px;padding: 2px 15px;width: 100px;}
.home_block{position: absolute; width:100%;top:60px}
.home-banner img{width: 100%;position: absolute;top:0px;}

.home-video{position: relative;width:100%}
.home_banner2{position: relative;width: 100%}

.video-block{width:30%;position: absolute;top:120px;left:33%}
.video-img {width:100%;}
.video-img  img{width:100%;}


.footer{height: 270px;position: relative;}
.footer-main{background:#8fc31f;height:90%;position: absolute;top:0px;width:100%}